.popup__title {
  width: 358px;
  margin: 34px 36px 54px;
  font-weight: 900;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .popup__title {
    width: 238px;
    margin: 25px 22px 65px;
    font-size: 18px;
  }
}