@import url(./_active/elements__like-button_active.css);

.elements__like-button {
  border: 0;
  background-image: url(/images/like.svg);
  width: 22px;
  height: 19px;
  margin-right: 21px;
  background-color: white;
}

.elements__like-button:hover {
  cursor: pointer;
  opacity: 0.6;
}